body{
    margin: 0;
    font-weight: 400;
  }
  
  h1{
    float: left;
    color: #dbdbdb;
    text-decoration: none;
    padding: 13px 0;
    margin: 0 20px;
  }
  
  .container{
    width: 80%;
    margin: 0 auto;
  }
  
  header{
    background-color: grey;
  }
  
  .logo-png{
    float: left;
    padding: 10px 0;
    width: 45px;
    height: 60px;
  }
  
  .logo-title-png{
    font-size: 40px;
    float: left;
    color: turquoise;
    text-decoration: none;
    padding: 13px 0;
  }
  .logo-title:hover{
    color: rgb(197, 197, 197);
  }
  
  header::after{
    content: '';
    display: table;
    clear: both;
  }
  
  nav{
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 8px;
  
    position: relative;
  }
  
  
  nav ul li a{
    color: #dbdbdb;
    text-decoration: none;
    font-size: 16px;
  
  }
  
  nav ul li a:hover {
    color: rgb(197, 197, 197);
  }
  
  nav ul li a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(148, 148, 148);
  
    position: relative;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav ul li a:hover::before{
    width: 100%;
  }