<header>
    <div class="container">
      <img src="assets/logo.png" alt="logo" class ="logo-png">
      <a href="" class="logo-title-png" mat-button>Movie</a>
  <nav class="nav">
    <ul>
      <li class="nav-item" >
        <a class="nav-link active" href=" " mat-button>Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link active" href="user" mat-button>Add User</a>
      </li> -->
      <li class="nav-item" >
        <a class="nav-link active" href="pauza" mat-button>Movies</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link active" href="movie" mat-button>Schedule</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link active" href="cosulet" mat-button>Cart</a>
      </li>
     
    </ul>
  </nav>
  </div>
  </header>